* {
  margin: 0;
  padding: 0
}

.game-container {
  width: 600px;
  height: 615px;
  margin: 0 auto;
}


.road {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/road.jpg");
  background-repeat: repeat-y;
  animation: animateBackground 1s linear infinite;
  overflow: hidden;
  z-index: -4;
  display: none;
}


@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0, 10vh;
  }
}

.player {
  z-index: 4;
  bottom: 25px;
}

.card {
  position: absolute;
  text-align: center;
  background-color: black;
  width: 500px;
  height: 100%;
  color: white;
}

.start-screen {
  /* display:none */
}


.card-heading {
  font-size: 56px;
  margin-top: 200px;
}

.startBtn {
  margin: 50px auto;
  font-size: 30px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(10, 179, 10);
  border-radius: 10px;
}

.startBtn:hover {
  background-color: rgb(3, 232, 3);
}

.instruction {
  font-size: 30px;
}

.list {
  font-size: 30px;
}


.end-screen {
  display: none;
}

.score {
  position: absolute;
  z-index: 5;
  color: black;
  font-size: 40px;
  top:0;
  right:200px;
  display: none;

}